@import url('https://font.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 10px;
    background-color: #0D6EFD;

}

.wrapper {
    width: 720px;
    background-color: #fff;
    border-radius: 5px;
}

.wrapper header{
    font-size: 22px;
    font-weight: 600;
    padding: 20px 30px;
    border-bottom: 1px solid #bfbfbf;
}

.wrapper form{
    margin: 35px 30px;

}

form .dbl-fields{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.dbl-fields .field{
    margin: 10px 0;
    height: 50px;
    position: relative;
    width: calc(100% / 2 - 13px);

}

form .field input::placeholder,
form .message textarea::placeholder {
    color: #bfbfbf;
}

form .field input:focus,
form .message textarea:focus {
    border: 2px solid #0D6EFD;
}
form .field input:focus ~ i,
form .message textarea:focus ~ i{
    color: #0D6EFD;
} 

form .field input,
form .message textarea {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 18px 0 46px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
}

.wrapper form i {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 17px;
    color: #bfbfbf;

}

.message {
    width: 100%;
    position: relative;
}

.message i {
    top: 30px !important;
    font-size: 20px !important;
}
.message textarea {
    max-height: 300px;
    max-width: 100%;
    min-width: 100%;
    min-height: 120px; 
    padding: 18px 20px 0 48px !important;
}

.message textarea:focus ~ i{
    color: #0D6EFD;
}

form .button-area{
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.button-area button{
    font-size: 18px;
    padding: 13px 25px;
    border-radius: 5px;
    color: #fff;
    background-color: #0D6EFD;
    border: none;
    cursor: pointer;
}

.button-area span{
    color: #0D6EFD;
    margin-left: 30px;
    display: none;
}

@media (max-width: 470px){
    .dbl-fields {
        flex-wrap:wrap; 
        display: flex;
        flex-direction: column;
    }
    .field {
        width: 100% !important;
    }
}


/* minuto 20:59
url: https://www.youtube.com/watch?v=el4ODMN4bYk&list=PLpwngcHZlPaf1aw42OGyitm4jh2Dlmi9c
*/